@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Indie+Flower&family=Mukta:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(img/back.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;

}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    position: relative;
    color: #000;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a {
    color: #000;
    background: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;

}

header .navigation a:not(:last-child) {
    margin-right: 30px;

}

.content {
    max-width: 650px;
    margin: 60px 100px;

}

.content .info h2 {
    color: #b446f4;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;


}

.content .info h2 span {
    color: rgb(84, 90, 254);
    font-size: 50px;
    font-weight: 600;

}

.content .info p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;

}

.content .info-btn {
    color: #fff;
    background: rgb(84, 90, 254);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.3s;
    transition-property: background;

}

.content .info-btn:hover {
    background: #0C4F60;

}

.footer {

    background-color: rgb(253, 255, 218);
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2rem;
    display: block;
    margin: auto;
    padding: 9px 570px;
    margin: -9px;
}

.footer-copy {
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color:  rgb(253, 255, 218);
    font-family: 'Mukta', sans-serif;
    align-items: flex-end;
    margin: auto;
    padding: 9px 53px;
    margin: 0px;

}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color:  rgb(253, 255, 218);
    list-style: none;
    gap: 34px;
}



label{
    display: none;
}

#check{
    z-index:3;
    display: none;
    visibility: hidden;

}

/* Responsive Style  */


@media (max-width: 960px){
    header .navigation{
        display: none;
    }

    label{
        display:block;
        font-size: 25px;
        cursor: pointer;
        transition:0.3s;
        transition-property: color;
    }

    label:hover{
        color:rgb(0, 0, 0);

    }

    label .close-btn{
        display: none;

    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position:fixed;
        background:rgba(255, 255, 255, 0.9);
        top:0;
        bottom:0;
        left:0;
        right:0;
        display:flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        height:100vh;

    }
    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;

    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
        
    }

    label .menu-btn{
        position:absolute;

    }
    header .logo{
        position: absolute;
        bottom: -6px;

    }
    .content .info h2{
        font-size: 45px;
        line-height: 50px;


    }
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;

    }

    .content .info p{
        font-size: 14px;


    }
}

@media (max-width:560px){

    .content .info h2{
        font-size: 35px;
        line-height: 40px;


    }
    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;

    }

    .content .info p{
        font-size: 14px;


    }
}